.container {
  max-width: 1125px;
  margin: 10px auto;

  color: var(--gray-600);
  background: var(--white);
  padding: 3.5rem 16%;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      max-width: 280px;
      width: 100%;
      border-radius: 50%;
    }

    h2 {
      text-align: center;
      font-size: 1.5rem;
      margin: 3rem 0;
      color: var(--yellow-500);
    }

    label {
      margin-left: 5px;
      font-weight: 500;
      color: var(--gray-700);
    }
    input + label,
    span + label {
      margin-top: 2rem;
    }

    input,
    textarea {
      width: 100%;
      height: 2.5rem;
      margin: 5px;
      border-radius: 3px;
      border: 1px solid var(--gray-700);
      padding: 5px;
    }

    textarea {
      min-height: 128px;
    }

    .submit {
      width: 100%;
      margin: 30px 0 5px;
      display: flex;
      justify-content: center;

      button {
        width: 180px;
        height: 2.8rem;
        margin-top: 3rem;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        border: none;
        border-radius: 3px;
        background: var(--gray-700);
        color: var(--gray-50);
        font-weight: 500;
        font-size: 1.1rem;
        img {
          width: 18px;
        }
      }
    }
    span {
      margin-left: 5px;
      font-size: 0.9rem;
      color: #f44336;
    }
    .validate {
      border: 1px solid #f44336;
    }
  }
}

@media (max-width: 600px) {
  .container {
    padding: 3.5rem 5%;
  }
}
